* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

#search-box {
  font: inherit;
  padding: 8px;
  max-width: 320px;
  margin-bottom: 16px;
}`
.country__item{
  list-style: none;
  display: flex;
  justify-content: center;
  font-size: 12px;
  align-items: center;
}

.country__wrapper{
    display: flex;
  justify-content: center;
  font-size: 20px;
  align-items: center;
    flex-direction: column;
}
